// sass-lint:disable all

@font-face {
  font-family: 'iconfont';
  src: url('./assets/fonts/iconfont.eot');
  src: url('./assets/fonts/iconfont.eot') format('embedded-opentype'),
    url('./assets/fonts/iconfont.ttf') format('truetype'),
    url('./assets/fonts/iconfont.woff') format('woff'),
    url('./assets/fonts/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-bell:before {
  content: '\e900';
}
.ic-bookmark:before {
  content: '\e901';
}
.ic-bookmark-filled:before {
  content: '\e902';
}
.ic-caret:before {
  content: '\e903';
}
.ic-cart:before {
  content: '\e904';
}
.ic-check:before {
  content: '\e905';
}
.ic-chevron:before {
  content: '\e906';
}
.ic-close:before {
  content: '\e907';
}
.ic-community:before {
  content: '\e908';
}
.ic-expert:before {
  content: '\e909';
}
.ic-lock:before {
  content: '\e90a';
}
.ic-menu:before {
  content: '\e90b';
}
.ic-new:before {
  content: '\e90c';
}
.ic-search:before {
  content: '\e90d';
}
.ic-star:before {
  content: '\e90e';
}
.ic-store:before {
  content: '\e90f';
}
